#!/usr/bin/env bash

# Only continue if user has nix-direnv
if has nix_direnv_version; then
  # We only really care about hot-reloading the devShell and the flake itself
  watch_file nix/default.nix
  use flake
fi
